@import "../../sass/colors";

.Body {
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  #bottom {
    margin-top: 20px;
    text-align: center;

    a {
      text-decoration: underline;
      color: $dark;
    }
  }
}