@import "sass/reset";
@import "sass/breakpoints";
@import "sass/colors";
@import "sass/fonts";
@import "sass/bulma";

@import "../node_modules/bulma/bulma.sass";

html {
  background-color: $background;
}

body {
  width: 100vw;
  color: $dark;
  font-family: $sans;

  *::selection {
    background-color: $grey;
    color: $light;
  }

  padding: 15px 12%;

  @include small {
    padding: 4px;
  }

  @include medium {
    padding: 4px;
  }

  .mono {
    font-family: $mono;
  }

}